article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;outline: none;}h1{font-size:2em;margin:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
em { font-style: normal !important; }

@font-face {
  font-family: 'avenir-bold';
  src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
      url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-demi';
  src: url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
      url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; outline: none;}

html {scroll-behavior: smooth;}
body { backface-visibility: hidden; overflow-x: hidden; overflow-y: scroll; background: #fff; height: auto; font-family: 'Montserrat', sans-serif; letter-spacing: 0.05em;  }
a { text-decoration: none; outline: 0; font-weight: 300; color: #000; }
a:hover, a:active, a:focus { outline: 0; color: #000;}

hr{
  box-sizing: content-box;
      height: 0px;
      width: 100%;
      color: #323441;
      background: #323441;
      border-color: #323441;
      border-width: 0.4px;
      margin-top: 30px;
      margin-bottom: 30px;

}
  
object, embed { outline: 0; }
h1, h2, h3, h4 { letter-spacing: -0.02em; color: #000; font-family: 'avenir-demi'; letter-spacing: 3px;}
p,a { font-weight: 300; color: #000; font-family: 'Montserrat', Serif; line-height: 1.4em; }

   html,
   body {
      position: relative;
      height: 100%;
      background: #F8F5E6;
   }
   
   body {
      margin: 0;
      padding: 0;
   }

li{
  font-family: domine, Serif;
}

#preloader { position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: auto;
 height: 100%; z-index: 9997; background: rgb(255, 255, 255); background-image: url('../img/eric-logo.png'); background-size: 300px; background-repeat: no-repeat;  background-position: center center; box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.6); 
 display: flex; justify-content: center; align-items: center;
}

/*#preloader h3{ font-size:30px; }*/

.underline {
  border-bottom: 2.5px solid currentColor;
  display: inline-block;
  width: 55%;
  transform: translatey(-5px);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 9999;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  width: auto;
  background: #222;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width:  100%;
  z-index: 9999;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #FFF;
}

.pace.pace-inactive {
  display: none;
  -webkit-transition: all 0.25s; transition: all 0.25s; 
}

  .zindexUp{ z-index: 9999!important; }

  input:focus{ outline: none; }



  header>nav .nav__title{
    position: absolute;
    left: 0%;
    width: 20vw;
    display: flex;
    justify-content: center;
  }

  header>nav>ul.menu__desktop{
      display: flex;
      width: 40%;
      margin: 0 auto;
      justify-content: space-around;
      padding: 0;
      z-index: 999;
      position: relative;
      top: -0.2rem;
      height: 100%;
  }

  header>nav .nav__redes{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    height: 65px;
    width: 20%;
  }

  header>nav .nav__redes li {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  header>nav .nav__redes li img {
    width: 18px;
    height: auto;
  }



  header>nav .nav__redes ul{
    display: flex;
    position: relative;
    justify-content: center;
    width: 50%;
    align-items: center;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

    height: 100%;
    top: 20px;
    margin: 0 auto;
  }



  nav{
    display: -ms-flexbox;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    height: 65px;
    color: #000;

    align-items: center;
  }

  nav ul{

    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
    text-align: center;
    list-style-type: none;
    padding:0;
    align-items: center;

  }

  li{ list-style-type: none; color: #fff; }

  .nav__title

  .nav__menu{

    width: 100vw;
    position: relative;
    margin: 0 auto;
  }

  .nav__menu li{
    color: #000;
  }

  .nav__mobile{ display: none; }



  .menu__desktop li>a {
      font-size: 11.5px;
  }

  /* START MODAL ZOOM MENU */
  /*Fake-Trigger*/
/*  #sized {
    width: 100%;
        height: auto;
        color: transparent;
        background-color: transparent;
        border: transparent;
        display: flex;
        justify-content: left;
        width: 90%;
  }*/

  .menu__mobile{
    width: 100%;
        height: auto;
        color: transparent;
        background-color: transparent;
        border: transparent;
        display: flex;
        justify-content: left;
        width: 90%;

  }

  /*Modal-Box*/
  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      /*padding:0.5%;*/
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%;
      overflow: auto;
  }

  .modal-content {
      position: relative;
      margin: auto;
      padding: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
      background-color: #FFF;
  }

  .modal-header {
      padding: 2px 16px;
      background-color: #FFF;
      border-bottom: none;
      height: 10vh;
  }

  .modal-body {
        padding: 2px 16px;
        background-color: #FFF;
        height: 65vh;
        display: flex;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        align-items: center;
  }

  .modal-footer {
      padding: 2px 16px;
      background-color: #FFF;
      color: black;
      border-top: none;
      text-align: center;
  }

  .modal-footer hr {
      /*margin-top: 10rem;*/

  }

  .modal-footer>p {
    color: #000;
    width: 80%;
    margin: 0 auto;
  }

  .modal-footer h3 {
      text-transform: none;
      font-size:4vh;

  }

  .close {
      color: #000;
      float: left;
      font-size: 5em;
      font-weight: bold;
      opacity: 1;
  }

  .close:hover,
  .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }

  @-webkit-keyframes zoomIn {
      from {
          /*opacity: 0;*/
          transform: translateY(-100%);
         /* -webkit-transform: scale3d(.2, .2, .2);
          transform: scale3d(.2, .2, .2);*/
      }

      50% {
        transform: translateY(0%);
          /*opacity: 1;*/
      }
  }

  .zoomIn {
      -webkit-animation-name: zoomIn;
      animation-name: zoomIn;
  }

  .animated {
      -webkit-animation-duration: .2s;
      animation-duration: .2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
  }


  /*Navigation Inner Styling*/

  .nav ul li a:hover{
      text-decoration: none;
      color: #000;
  }

  .nav ul li a{
      padding:1em;
      text-transform: uppercase;
      font-weight: 700;
      font-size:6vw;
      letter-spacing: -0.05em;
  }

  .nav ul li{
      display: inline-block;
      font-size: 3em;
  }

  .nav ul{
    clear: both;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .navigation{
    position: absolute;
    z-index: 99;
  }

/* END MODAL ZOOM MENU */


/* HAMBURGUESA MENU*/

/*
nav {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

nav li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

nav li a:hover,
nav .menu-btn:hover {
  background-color: #f4f4f4;
}

nav .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}


nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

nav .menu-icon .navicon:before {
  top: 5px;
}

nav .menu-icon .navicon:after {
  top: -5px;
}


nav .menu-btn {
  display: none;
}

nav .menu-btn:checked ~ .menu {
  max-height: 240px;
}

nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}*/



  /* body */
  .wow{ visibility: hidden; }


  .swiper-container { width: 100%;}

  .swiper-container2 { height: 70vh;}

  .swiper-slide { width: 100vw; display: flex; align-items: center;  justify-content: center; background-color: #fff;}

  .swiper-container .slide1{ background: url(../img/floral-background.png) no-repeat; background-size: cover; width: 100%; }

  .swiper-container .slide2{ background: url(../img/beauty1.jpg) no-repeat; background-size: cover; width: 100%; }


  .swiper-slide h1{ font-family: 'Domine', serif; color: #fff; letter-spacing: 2px; font-size: 80px}

  .slider{ width: 100%; height: 800px; }

  .swiper-slide2 { width: 100vw; display: flex; align-items: center;  justify-content: center; background-color: #fff;}
  .rslide{ cursor: pointer; }

  .slider2{ width: 100%; height: 800px; }




  .full-content { position: relative; width: 100%; height: auto; background: #fff; padding-top: 5vh;}

  .seccion1 { position: relative; display: flex;  width: 95vw; height: 100vh; align-items: center; margin: 0 auto; padding: 10vh 0vh 10vh; padding: 15vh 0vh 15vh; height: 600px; background: #F8F5E6;}

  .seccion1__content{     display: flex; justify-content: center;  align-items: center;  width: 100%; flex-direction: row; text-align: center; }

  .seccion1__content .left img, .seccion1__content .right img {   width: 95%}

  .seccion2 { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 600px; background: #fff; }

  .seccion3{ display: flex; flex-direction: column; justify-content: center; align-items: center; height: 400px; text-align: center; }

  .seccion3__content{ width: 70%; }
  .seccion3__title{ font-size: 30px; margin: 0; }

  .seccion3__texto{ font-size: 22px; }

  button.seccion3__button { background-color: #323441; color: #fff; display: flex;justify-content: center; align-items: center; margin: 0 auto; padding: 15px; border:0; margin-bottom: 50px;}
  
  button.seccion3__button:hover{ color: #fff; }

  .seccion3__button img{     height: 20px; margin-left: 20px; }

  .seccion3__button h3{     font-family: 'Montserrat', serif; }


  .carousel{ width: 150%; height: 100%; display: flex!important; flex-direction: row; justify-content: center; align-items: center; }

  .item{ width: 300px height: 500px;     display: flex;    align-content: center;}

  .item img{ height: auto; width: 100%; }
  

  /* GALERIA SECCION */

  /* Cosmetic only */
  #easyPaginate {
    width: 80%;
    display: flex;
    flex-direction: row;
        justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
        height: 100%;


  }


  #easyPaginate img {display: flex;  width: 300px; min-width: auto!important;}
  .easyPaginateNav { display: flex;  justify-content: center; }
  .easyPaginateNav a {padding:5px;}
  .easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}

  #easyPaginate .items{ display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 50px;}
  #easyPaginate .items span{ color: #000;  text-align: center;  margin-top: 10px;}

  .easyPaginateNav a{
    background: #F8F5E6;
        margin-right: 10px;
        /* margin-left: 10px; */
        color: #000;
        /* border-radius: 50%; */
        width: 30px;
        height: 30px;
        text-align: center;
  }

  .gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    background: #fff;
    flex-direction: column;
    padding-bottom: 50px;
    height: 100%;

  }

  /* END GALERIA SECCION */

  /* COMO COMPRAR*/

  .comocomprar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
    text-align: center;
    width: 100%;
  }

  .comocomprar__content{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 20px 80px 20px 80px;
    text-align: left;
  }

  .comocomprar__content h1{
    font-size: 22px;
    margin-top: 50px;
  }

  .comocomprar__title{
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }

  .comocomprar__picture{
    height: 100%;
    width: 40%;
    background-image: url('../img/ropa.jpg'); 
    background-size: 100%;

  }

  .space{ margin-top: 20px; }


  /* COMO COMPRAR*/

  /* CONTACTO */


  .contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 700px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
  }

  .contacto__content{
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    padding: 0px 30px 0px 30px;
  }

  .textbig1{ font-size: 30px; margin: 0; }

  .contacto__mapa{
    height: 100%;
    width: 55%;
    background-size: 100%;

  }

  .contacto__title{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
  }

  .contacto__content form{
    display: flex;
        flex-direction: column;
  }
  .contacto__content form input{
  margin-bottom: 30px;
      width: 90%;
      height: 40px;
} 


  .contacto__content form textarea{
    width: 90%;
    height: 160px;
  }

  .contacto__content .enviar{
      margin-top: 30px;
      background: #323441;
      color: #FFF;
      width: 40%;
      border: 0;
  }

  /* CONTACTO */


  footer{ display: flex; justify-content: center; align-items: center; text-align: center; background: #323441; width: 100%; height: 250px; flex-direction: column;}
  footer p{ text-align: center; color: #fff; font-size: 13px; text-align: left; margin-left: 20px; }
  .footer__seccion4 p { text-align: center; }

  footer h1, footer h2, footer h3{ text-align: center; color: #fff; }

  .footer__content{ display: flex; flex-direction: row; justify-content: space-around; -webkit-justify-content: space-evenly; width: 100%; height: 100%;    align-items: center;    align-content: center; background: #323441; border-width: 0px 0px 1px 0px;    border-style: solid;    border-color: #fff;}
  

  .footer__seccion2__img{ width: 25px; height: 25px; }


  .footer__seccion4{ width: 100%}

  .footer__content ul{ display: flex; flex-direction: column; }

  .footer__seccion2, .footer__seccion3 { height: 100%; display: flex;   align-items: center;} 

  .footer__seccion2 li, .footer__seccion3 li { display: flex; text-align: left; align-items: center;}

  .footer__seccion3 li{ margin-top: 10px; }

  /*.navigation{  position: absolute;  z-index: 99; }*/

  /* rs slider */

  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    }

  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    }

  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
    }

  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    }

  /* rs slider */

  /* Smartphones (portrait and landscape) ----------- */  
  @media only screen  
  and (min-width : 320px)  
  and (max-width : 680px) {  


      h1, h2, h3, h4 { letter-spacing: 2px;  }

      nav{ height: 85px; }

      nav .lines {
        border-bottom: 15px double #323441;
            border-top: 5px solid #323441;
            content: "";
            height: 25px;
            width: 39px;
            padding-right: 15px;
            float: right;
      }

        #sized{
               display: flex;
               height: 65px;
               align-items: center;
               width: 20%;
               justify-content: flex-end;
        }


       .menu__mobile{
                  height: auto;
          color: transparent;
          background-color: transparent;
          border: transparent;
          display: flex;
          justify-content: space-between;
          width: 90%;
          flex-direction: row;
          margin: 0;
       }


      .nav__mobile{ display: flex; justify-content: center;}
      .nav__desktop{ display: none; }
      .slider { width: 100%;  height: 500px;}

      .seccion1 {padding: 0; height: auto; background: #F8F5E6;}
      .seccion1__content { flex-direction: column; padding: 5vh 0vh 5vh; }

      .right, .left{ padding-top: 10vh; }

      .seccion3__title {  font-size: 20px; }
      .seccion3__texto { font-size: 18px; }
      .seccion3__content { width: 90%;  }

      button.seccion3__button { margin-top: 60px; }

      .comocomprar {
          margin-top: 30px;
          margin-bottom: 30px;
          height: 100%;
      }
      .comocomprar__content { flex-direction: column; padding: 0; width: 80%;     margin-bottom: 50px;}

      .comocomprar__picture { flex-direction: column; }

      .contacto{ width: 100%; }

      .contacto__mapa {
          width: 100%;
          margin-bottom: 50px;
      }

      .contacto__mapa iframe{ width: 90%!important; }



      .contacto { display: flex; height: auto; flex-direction: column;}

      .contacto__content { width: 100%;height: 100%; display: flex; flex-direction: column; position: relative;  text-align: left; padding: 0;}
      .contacto__content form label{ width: 90%; margin-bottom: 10px;}

      .contacto__content form { display: flex;flex-direction: column; width: 100%;  align-items: center;}

      .footer__seccion1{ height: 15%; display: flex;  align-items: center;  margin-top: 30px;}
      .footer__seccion2, .footer__seccion3 {  height: auto;}
      .footer__seccion4 { width: 100%; height: auto; width: 90%; }
      .footer__seccion3 li { margin:0;  }
      .footer__content ul { padding: 0; margin: 0;}


      .footer__seccion4 p{ text-align: center;margin: 0 auto; width: 90%;height: 60px;display: flex; align-items: center;}
      footer, .footer__content{ height: 80vh; flex-direction: column;  }
}

  }  
  /* Smartphones (landscape) ----------- */  
  @media only screen  
  and (min-width : 321px) {  
  /* Styles */  
  }  
  /* Smartphones (portrait) ----------- */  
  @media only screen  
  and (max-width : 320px) {  


       p { font-size: 0.9em; }
      .remove { display: none;}

       header .logo { 
        width: 100%;
        display: flex;
        position: relative;
        background-color: #fff;
        margin: 0 auto;
        margin-right: 40px;
      }
      
      header .logo img {  padding: 10px;  margin: 0 auto;  width: 80%; transform: translate(0px,0px); }

      .seccion1 { height: auto;
        padding: 8em 0 0 0; }

      .empresa__box p { font-size: 22px; margin-top: 12%; }

      .empresa__box:nth-child(1) p { font-size: 32px; margin-top: 0px; }

      .footer__logo { width: 100%;  margin-bottom: 5%; }

      .footer__contenido {width: 80%; display: flex; flex-wrap: wrap; flex-flow: column; }

      .footer__contenido .footer__redes {
          right: 0%;
          width: 100%;
          padding: 0;
          text-align: center;
      }

      .staff__contenido {  padding: 5vh 0vh; }

      .footer__contenido .footer__redes ul { width: 100%; justify-content: center;}

      footer a:last-child { width: 180px; display: block; float: none; margin: 5px auto; }
      footer a:first-child { width: 180px; display: block; margin: 5px auto; }
  }  
  /* iPads (portrait and landscape) ----------- */  
  @media only screen  
  and (min-width : 668px)  
  and (max-width : 1024px) {  


      header>nav .nav__title { width: 30vw; }
      header>nav .nav__title h3{ font-size: 15px; }

      li {  font-size: 15px; }

      .empresa {
          position: relative;
          z-index: 10;
          display: flex;
          justify-content: center;
          width: 100%;
          background: #223523;
          width: 100%;
          height: auto;
          align-items: center;
          flex-direction: row;
      }

      .empresa__contenido {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          padding: 0vw 7vw;
      }

      .empresa__box {
          /*width: 100%;*/
          width: 70%;
          margin-top: 10%;
      }

     

      .nav ul li{
          display: block;
          height: 45px;
      }

      .nav ul {
          clear: both;
          width: 100%;
          text-align: center;
          padding: 0;
      }

      .nav ul li a {
          padding: 0;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 6vw;
          letter-spacing: -0.05em;
      }
  }  
  /* iPads (landscape) ----------- */  
  @media only screen  
  and (min-width : 768px)  
  and (max-width : 1024px)  
  and (orientation : landscape) {  
      .navigation{
        /*display: flex;*/
        display: none;
        height: 120px;
        /* width: 100%; */
        position: absolute;
        align-items: center;
      }

      .nav ul li{
          display: block;
          height:38px;
      }

      .nav ul {
          clear: both;
          width: 100%;
          text-align: center;
          padding: 0;
      }

      .nav ul li a {
          padding: 0;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 6vw;
          letter-spacing: -0.05em;
      }

      header>nav .nav__title { width: 30vw; }
      header>nav .nav__title h3{ font-size: 15px; }

      header>nav>ul.menu__desktop{
        /*display: none;*/
      }
      header>nav>ul.menu__mobile{
        display: flex;
      }

      nav>ul.menu__mobile p{
        color: #fff;
        font-size: 23px;
        font-family: Domine,sans-serif;
        margin: 0 auto;
      }

      nav>ul.menu__mobile li{
        margin: 0 auto;
        border-bottom-width: 0px;
      }
  }  


  /* iPads (portrait) ----------- */  
  @media only screen  
  and (min-width : 768px)  
  and (max-width : 1024px)  
  and (orientation : portrait) {  

    .navigation{
      /*display: flex;*/
      display: none;
      height: 120px;
      /* width: 100%; */
      position: absolute;
      align-items: center;
    }

    .nav ul li{
        display: block;
        height:38px;
    }

    .nav ul {
        clear: both;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .nav ul li a {
        padding: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 6vw;
        letter-spacing: -0.05em;
    }

    header>nav .nav__title { width: 30vw; }
    header>nav .nav__title h3{ font-size: 15px; }

 

    nav>ul.menu__mobile p{
      color: #fff;
      font-size: 23px;
      font-family: Domine,sans-serif;
      margin: 0 auto;
    }

    nav>ul.menu__mobile li{
      margin: 0 auto;
      border-bottom-width: 0px;
    }


  }



  /* Desktops and laptops ----------- */  
  @media only screen  
  and (min-width : 1280px) {  


    .navigation{ display: none; }



     .seccion1 {flex-direction: row;  align-items: center; justify-content: center; height: auto; padding: 5vh 0 5vh 0; text-align: center; }




     .empresa { margin: 0 0 0 0; padding-bottom: 10%;}
     .empresa .form-content { width: 80%; min-width: inherit; transform: translate(0,-10%); -webkit-transform: translate(0,-10%); -moz-transform: translate(0,-10%); -ms-transform: translate(0,-10%); -o-transform: translate(0,-10%); }
     .empresa__contenido { width: 100%; }

     .staff__contenido img {width: 60%;}
     .staff__contenido p, .staff__contenido h3 { width: 80%; margin: 0 auto; }
     
     .slider { width: 100%; height: 600px;}
     .footer__contenido .footer__redes{  right: 0%; width: 50%; padding-right: 20px; }

     .footer__contenido>img{   left: 15%; width: 30%;}


    .staff{ width: 100%;     height: auto;}

 





  }  


/* Large screens ----------- */  
@media only screen  
and (min-width : 1824px) {  

    

  header>nav>ul.menu__desktop {  width: 30%; }


  .comocomprar__picture {   width: 40%; }

  .comocomprar__content {
      width: 60%;
      height: 100vh; }


  .comocomprar__title, .comocomprar__content h1, p.comocomprar__texto  { width: 70%;  margin: 0 auto; margin-bottom: 30px;}
  .comocomprar__content hr{ width: 80%; border-width: 0.5px; }

  .contacto {    width: 70%; }
  #easyPaginate {   width: 60%; }


  .swiper-container .slide1 {  background-position-y: 50%; }

  .slider {  height: 800px; }

  .seccion1__content .left img, .seccion1__content .right img {  width: 80%; }

  header>nav .nav__redes ul { width: 30%}


  .seccion3__content {
      width: 40%;
  }

  .seccion2 {   height: 800px;  }

  button.seccion3__button { margin-top: 50px; margin-bottom: 50px;}

  .seccion1 {      padding: 15vh 0 15vh 0;}
  /*Navigation Inner Styling*/

  .nav ul li a:hover{
      text-decoration: none;
      color: #000;
  }

  .nav ul li a{
      padding:1em;
      text-transform: uppercase;
      font-weight: 700;
      font-size:3vw;
      letter-spacing: -0.05em;
  }

  .nav ul li{
      display: inline-block;
      font-size: 3em;
  }

  .nav ul{
      clear: both;
      width: 100%;
      text-align: center;
  }

  .navigation{
    display: none;
    position: absolute;
    z-index: 99;
  }




}




